.progress {
  position: relative;
  height: 20px;
}

.progress-bar-title {
	position: absolute;
	text-align: center;
	padding-bottom: 2px;
	overflow: hidden;
	color: black;
	right: 0;
	left: 0;
	top: 0;
}

.disclaimer {
	width: 50%;
}

body {
	background-color: #333;
	color: white;
	padding: 20px 10px 10px;
}

.regbox {
	margin-top: 10px;
	border-radius: 1px solid;
	border-color: #333;
	border-spacing: 3px;
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	line-height: 1.5em;
}

.regbox td {
	border: 3px solid;
	border-color: #333;
}

.reg-row {
	background: grey;
	color: black;
}

.reg-mnemonic {
	text-align: center;
}

.reg-name {
	background: white;
	color: black;
}

.reg-c {
	text-align: center;;
}

.pc-mnemonic {
	text-align: center;
	width: 67%;
}

.pc-name {
	background: white;
	color: black;
	width: 33%;
}

.pred-mnemonic {
	text-align: center;
	overflow: visible;
	width: 1%;
}

.pred-name {
	background: white;
	color: black;
	width: 99%;
}

.formats-table {
	background: #eee;
	color: black;
	border-radius: 1px solid;
	border-color: #333;
	border-collapse: collapse;
	text-align: center;
}

.formats-table * tr th, .formats-table * tr td {
	border: 1px solid #333;
	padding: 0.2em 0.4em;
}

.formats-table .reg {
	background: #dfd;
}

.formats-table .dest {
	background: #ffb7b7;
}

.formats-table .op {
	background: #fffdd0;
}

.formats-table .funct {
	background: #ffcbdb;
}

.formats-table .imm {
	background: #def;
}

.formats-table .predicate {
	background: #fed;
}

.formats-table .nop {
	background: grey;
}

.instructions-table {
	background: #eee;
	color: black;
	border-radius: 1px solid;
	border-color: #333;
	border-collapse: collapse;
	text-align: center;
}

.instructions-table * tr th, .instructions-table * tr td {
	border: 1px solid #333;
	padding: 0.2em 0.4em;
}

.instructions-table .r-type {
	background: #dfd;
}

.instructions-table .i-type {
	background: #def;
}

.instructions-table .m-type {
	background: #ffb7b7;
}

.instructions-table .b-type {
	background: #ffcbdb;
}

.instructions-table .j-type {
	background: #fffdd0;
}

.instructions-table .pr-type {
	background: #fed;
}
